{# footer-minimal.html.twig #}
{% block layout_footer_minimal %}
   
    <footer class="footer-minimal">
        <div class="container text-center p-3">
            <small>&copy; {{ "now"|date("Y") }} Your Company</small>
        </div>
    </footer>
{% endblock %}
